.pio
.pioenvs
.piolibdeps
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
lib/README
.vscode/extensions.json
.vscode/settings.json
.vscode/ipch/33bec830c1d08d35/CORE_ESP8266_WIRING.ipch
.vscode/ipch/33bec830c1d08d35/mmap_address.bin
.vscode/ipch/49f650c33cb8e8b4/IRRECVDUMPV2.ipch
.vscode/ipch/49f650c33cb8e8b4/mmap_address.bin
.vscode/ipch/4fe12241fe7c192/IRSERVER.ipch
.vscode/ipch/4fe12241fe7c192/mmap_address.bin
.vscode/ipch/69f34d34a45e3a98/IRUTILS.ipch
.vscode/ipch/69f34d34a45e3a98/mmap_address.bin
.vscode/ipch/6a46246c0dd561f7/mmap_address.bin
.vscode/ipch/6e2c5b1386eb8456/mmap_address.bin
.vscode/ipch/6e2c621386eb903b/WEBSERVER.ipch
.vscode/ipch/6e2c621386eb903b/mmap_address.bin
.vscode/ipch/78d976673aa94d5e/mmap_address.bin
.vscode/ipch/8cbc03cc64edd0de/CS8422.ipch
.vscode/ipch/8cbc03cc64edd0de/mmap_address.bin
.vscode/ipch/9cb0bb34d5ce7115/PCM5121.ipch
.vscode/ipch/9cb0bb34d5ce7115/mmap_address.bin
.vscode/ipch/a7ce772b4dc5e178/IRRECVDUMP.ipch
.vscode/ipch/a7ce772b4dc5e178/mmap_address.bin
.vscode/ipch/ab930d0b21d58805/MAIN.ipch
.vscode/ipch/ab930d0b21d58805/mmap_address.bin
.vscode/ipch/cca0c971af890411/ESP8266WIFISTA.ipch
.vscode/ipch/cca0c971af890411/mmap_address.bin
.vscode/ipch/e2ee3f285a352627/mmap_address.bin
include/README
.travis.yml
.vscode/ipch/e5cc6011a8ac4d74/mmap_address.bin
.vscode/ipch/26829c38c495572c/TURNONKELVINATORAC.ipch
.vscode/ipch/26829c38c495572c/mmap_address.bin
.vscode/ipch/451178ae033733c8/CONTROLSAMSUNGAC.ipch
.vscode/ipch/451178ae033733c8/mmap_address.bin
